﻿

        <div class="container" style="display:flex;align-items: stretch;">
            <side-bar></side-bar>
            <div id="content" class="col-sm-12">
                <div style="margin-top:30px">
                    <div>
                        <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                            <h4 style="text-align:center">{{'mainMenu.Bank' | translate}}</h4>
                        </mat-toolbar>

                        <div class="col-sm-8" style="margin-top:5px;margin-bottom:5px">
                            <div class="form-group search-box">
                                <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'bank.management.Search' | translate}}">></search-box>
                            </div>
                        </div>
                            <div *ngIf="canCreateUsers">
                                <div class="col-sm-4 pull-right" style="margin-top:5px;margin-bottom:5px" >

                                    <mat-chip-list >
                                        <mat-chip style="background-color:green" selected="true">
                                            <a href="javascript:;" (click)="newBank()" style="color:white; text-decoration: none !important">
                                                <span>{{'bank.management.NewBank' | translate}}</span>
                                            </a>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                                </div>
                            </div>



                            <ngx-datatable class="material colored-header sm table table-striped table-hover"
                                           [loadingIndicator]="loadingIndicator"
                                           [rows]="rows"
                                           [rowHeight]="35"
                                           [headerHeight]="35"
                                           [footerHeight]="35"
                                           [columns]="columns"
                                           [scrollbarV]="true"
                                           [columnMode]="'force'">
                            </ngx-datatable>

                            <ng-template #indexTemplate let-value="value">
                                <strong>{{value}}</strong>
                            </ng-template>

                            <ng-template #bankNameTemplate let-row="row" let-value="row" let-i="index">
                                <span>{{value.bankName}}</span>
                            </ng-template>
                            <ng-template #bankCodeTemplate let-row="row" let-value="row" let-i="index">
                                <span>{{value.bankCode}}</span>
                            </ng-template>

                            <ng-template #addressTemplate let-row="row" let-value="row" let-i="index">
                                <span>{{value.address}}</span>
                            </ng-template>
                            <ng-template #contactPerson1Template let-row="row" let-value="row" let-i="index">
                                <span *ngIf="value.contactPerson1==null">Not Available</span>
                                <span>{{value.contactPerson1}}</span>
                            </ng-template>

                            <ng-template #phoneTemplate let-row="row" let-value="row" let-i="index">
                                <span *ngIf="value.contactNo1==null">Not Available</span>
                                <span>{{value.contactNo1}}</span>
                            </ng-template>
                            <ng-template #contactPerson2Template let-row="row" let-value="row" let-i="index">
                                <span *ngIf="value.contactPerson2==null">Not Available</span>
                                <span>{{value.contactPerson2}}</span>
                            </ng-template>
                            <ng-template #contact2Template let-row="row" let-value="row" let-i="index">
                                <span *ngIf="value.contactNo2==null">Not Available</span>
                                <span>{{value.contactNo2}}</span>
                            </ng-template>
                            <ng-template #statusTemplate let-row="row" let-value="row" let-i="index">

                                <span>{{value.status}}</span>
                            </ng-template>

                            <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
                                <!--To manage User Roles-->
                                <div *ngIf="canManageUsers">
                                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="editBank(row)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        {{'bank.management.Edit' | translate}}
                                    </a>
                                    |
                                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteBank(row)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        {{'bank.management.Delete' | translate}}
                                    </a>
                                </div>
                            </ng-template>




                            <!--Implementing Close button,PopUp BankEdit page.-->
                            <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                                                <h4 style="text-align:center">  {{editingBankName ? ('bank.management.EditBank' | translate:editingBankName) : ('bank.management.NewBank' | translate)}}</h4>
                                                <button type="button" class="close col-md-offset-9" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                                </button>
                                            </mat-toolbar>

                                        </div>
                                        <div class="modal-body">
                                            <!--..bank-edit=selector,#bankEditor=BankEditComponent-->
                                            <bank-edit #bankEditor [isGeneralEditor]="true"></bank-edit>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
</div>
