﻿


.user-role {
    font-size: 0.8em !important;
    margin-right: 1px;
}

.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.action-box {
    margin: 0 50px 0 0;
    min-height: 0;
}
.nohover a:hover {
    background-color: white;
}
    .action-box .toolbaritem a {
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 100px;
    }


.user-disabled {
    color: #777;
    font-style: italic;
}


.locked-out {
    background-color: orangered;
    color: whitesmoke;
    width: 100%;
    display: inline-block;
    padding-left: 5px;
}


@media (max-width: 768px) {
    .action-box {
        margin: 0 14px;
    }
}
#content {
    padding: 30px;
    min-height: 100vh;
    transition: all 0.3s;
}
.daterangepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    overflow: hidden
}

@media (min-width: 550px) {
    .daterangepicker {
        width: 550px;
    }
}

@media (max-width: 550px) {
    .daterangepicker {
        width: 270px;
    }

    .text-center .pull-right {
        float: none !important;
    }

    .col-md-6 {
        width: 100% !important;
    }

    .col-md-10 {
        width: 100% !important;
    }

    .ranges > div {
        display: none;
    }
}

.singledatepicker {
    width: 225px;
}

.daterangepicker {
    z-index: 3000;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 2px #ddd;
    border: 1px solid #aaa;
    padding: 10px;
}

    .daterangepicker div[class*="col-md-"],
    .daterangepicker span[class*="col-md-"] {
        padding: 0 5px 0 5px;
        ;
    }

.hidden {
    display: none !important;
    visibility: false !important;
}

.daterangepicker .calendar {
    margin: 4px;
    float: left;
    border-radius: 4px !important;
}

.applyBtn {
    margin: 4px;
}

.daterangepicker .flush {
    padding: 0 !important;
    margin: 0 !important;
}

.daterangepicker .flush-bottom {
    padding-bottom: 0 !important;
}

.daterangepicker .flush-left {
    padding-left: 0 !important;
}

.daterangepicker .flush-right {
    padding-right: 0 !important;
}

.daterangepicker .nudge-half--left {
    padding-left: 4px !important;
}

.daterangepicker .nudge-half--right {
    padding-right: 4px !important;
}

.daterangepicker .nudge-top {
    top: 5px;
}

.daterangepicker .push-bottom {
    margin-bottom: 10px;
}

.daterangepicker th {
    margin: 1px !important;
    padding: 1px !important;
    text-align: center;
    border-radius: 4px !important;
}

.daterangepicker td {
    font-size: 14px;
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 1px !important;
    padding: 3px !important;
    border-radius: 4px !important;
    white-space: nowrap;
    text-align: center;
}

.daterangepicker .btn.btn-flat {
    border: none;
    background: transparent;
    margin: 3px !important;
    padding: 1px !important;
}

.daterangepicker .off {
    color: #666;
}

.daterangepicker table {
    border-spacing: 0;
    border-collapse: collapse;
}

.daterangepicker td,
.daterangepicker th {
    padding: 0;
}

.daterangepicker .clickable {
    cursor: pointer;
}

.daterangepicker .clickable-link {
    color: #337ab7;
}

.daterangepicker .clickable.disabled {
    pointer-events: none;
    color: #AAA;
    cursor: not-allowed;
}

.ranges .clickable {
    margin-top: 8px !important;
}

.daterangepicker label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.daterangepicker .btn-link {
    padding: 1px 6px 1px 6px !important;
}

.daterangepicker .bootstrap-flush {
    margin: 0 !important;
    padding: 0 !important;
}