﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal"
          name="userInfoForm" #f="ngForm" novalidate (ngSubmit)="saveSupport()">

        <!----Contact-Person---->
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Person</label>
            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="contactPerson-{{uniqueId}}" id="contactPerson" name="contactPerson" placeholder="Enter Contact Person"
                       class="form-control" [(ngModel)]="hwSupportEdit.contactPerson" #contactPerson="ngModel" required />
            </div>

            <!--XXXXXXXXXXXXXXXXXXXXXXXx-->

            <label class="control-label col-md-2" for="contactNo-{{uniqueId}}">Contact Number</label>

            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="contactNo-{{uniqueId}}" id="contactNo" name="contactNo" placeholder="Enter Contact Number" class="form-control" [(ngModel)]="hwSupportEdit.contactNo" #contactNo="ngModel" required />

            </div>
        </div>

        <div class="clearfix"></div>
        <!----Phone--Field--Priority---->
        <div class="form-group" style="margin-top:50px">

            <div [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">
                <mat-checkbox attr.id="phone-{{uniqueId}}" name="phone" [(ngModel)]="hwSupportEdit.phone" #phone="ngModel">Phone</mat-checkbox>
            </div>

            <div [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">
                <mat-checkbox attr.id="field-{{uniqueId}}" name="field" [(ngModel)]="hwSupportEdit.field" #field="ngModel">Field</mat-checkbox>
            </div>

            <div [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">
                <mat-checkbox attr.id="priority-{{uniqueId}}" name="priority" [(ngModel)]="hwSupportEdit.priority" #priority="ngModel">Priority</mat-checkbox>
            </div>
        </div>

        <div class="clearfix"></div>
        <!----Issue---->
        <div class="form-group" style="margin-top:30px">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="issue-{{uniqueId}}">Issue</label>
            <div [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <textarea attr.id="issue-{{uniqueId}}" id="issue" name="issue" placeholder="Enter Issue" class="form-control" [(ngModel)]="hwSupportEdit.issue" #issue="ngModel" required></textarea>
            </div>
        </div>

        <div class="clearfix"></div>
        <!----Remarks---->
        <div class="form-group">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="remarks-{{uniqueId}}">Remarks</label>
            <div [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <input type="text" attr.id="remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Enter remarks" class="form-control" [(ngModel)]="hwSupportEdit.remarks" #remarks="ngModel" required />
            </div>
        </div>

        <div class="clearfix"></div>
        <!----Resolved By---->
        <div class="form-group">
            <label *ngIf="!isNewSupport" [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="verifiedBy-{{uniqueId}}">Resolved By</label>
            <div *ngIf="!isEditMode && !isNewSupport" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{hwSupportEdit.resolvedBy}}</p>
            </div>
            <div *ngIf="isEditMode && !isNewSupport" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <input type="text" attr.id="resolvedBy-{{uniqueId}}" id="resolvedBy" name="resolvedBy" placeholder="Resolved By" class="form-control" [(ngModel)]="hwSupportEdit.resolvedBy" #resolvedBy="ngModel" required />
            </div>
        </div>

        <div class="clearfix"></div>
        <!----Status---->
        <div class="form-group">
            <div *ngIf="!isEditMode && !isNewSupport" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{hwSupportEdit.status}}</p>
            </div>
            <div *ngIf="isEditMode && !isNewSupport" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">
                <!--<input autofocus type="checkbox" attr.id="phone-{{uniqueId}}" id="phone" name="phone" style="width:20px" class="form-control" [(ngModel)]="supportEdit.phone" #phone="ngModel" required />-->
                <span style="font-size:25px;color:darkred">*</span><mat-checkbox attr.id="status-{{uniqueId}}" name="status" [(ngModel)]="hwSupportEdit.status" #status="ngModel">Verify<span>&nbsp;</span> (Necessary)</mat-checkbox>
            </div>
        </div>
        <div class="clearfix"></div>

        

        <!----Buttons---->
        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <button type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px">
                        <i *ngIf="isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
                        {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
