﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center">Support</h4>
            </mat-toolbar>
            <!--<h4 style="text-align:center">Support</h4>-->
            <div class="col-sm-8" style="margin-top:20px">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'support.management.Search' | translate}}">></search-box>
                </div>
            </div>

        </div>



        <ngx-datatable class="material colored-header sm table table-striped table-hover"   
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [scrollbarH]="true"
                       [columnMode]="'force'">
        </ngx-datatable>

        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>

        <ng-template #bankNameTemplate let-row="row" let-value="row" let-i="index">
            <span  tooltip="{{value.bankName}}" placement="right">{{value.bankName}}</span>
        </ng-template>
       
        <ng-template #contactPersonTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.contactPerson}}" placement="right">{{value.contactPerson}}</span>
        </ng-template>
        <ng-template #contactNoTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.contactNo}}" placement="right">{{value.contactNo}}</span>
        </ng-template>
        
        <ng-template #issueTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.issue}}" placement="right">{{value.issue}}</span>
        </ng-template>
        <ng-template #phoneTemplate let-row="row" let-value="row" let-i="index">
            <span *ngIf="value.phone == true" style="background:green;color:white;font-size:15px">YES</span>
            <span *ngIf="value.phone == false" style="background:green;color:white;font-size:15px">NO</span>
        </ng-template>
        <ng-template #fieldTemplate let-row="row" let-value="row" let-i="index">
            <span *ngIf="value.field == true" style="background:green;color:white;font-size:15px">YES</span>
            <span *ngIf="value.field == false" style="background:green;color:white;font-size:15px">NO</span>
        </ng-template>
        <ng-template #priorityTemplate let-row="row" let-value="row" let-i="index">
            <span *ngIf="value.priority == true" style="background:green;color:white;font-size:15px">High</span>
            <span *ngIf="value.priority == false" style="background:green;color:white;font-size:15px">Low</span>
        </ng-template>
        <ng-template #remarksTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.remarks}}" placement="right">{{value.remarks}}</span>
        </ng-template>
        <ng-template #resolvedByTemplate let-row="row" let-value="row" let-i="index">
         
            <span *ngIf="value.verification =='Verified' && value.status == true">{{value.resolvedBy}}</span>
            <span *ngIf="value.status ==false" style="background:red;color:white;font-size:15px">***********</span>
        </ng-template>
        <ng-template #supportDateTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.supportDate | date}}</span>
        </ng-template>
        <ng-template #verifiedByTemplate let-row="row" let-value="row" let-i="index">
            <span *ngIf="value.verification =='Verified' && value.status == true">{{value.verifiedBy}}</span>
            <span *ngIf="value.status ==false" style="background:red;color:white;font-size:15px">***********</span>
         
        </ng-template>
        <ng-template #verifiedDateTemplate let-row="row" let-value="row" let-i="index">
            <span *ngIf="value.verification =='Verified' && value.status == true">{{value.verifiedDate | date}}</span>
            <span *ngIf="value.status ==false" style="background:red;color:white;font-size:15px">Not Verified Yet</span>
        </ng-template>
        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
            <div>
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editSupport(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Verify</a>
                |
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteSupport(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'inventory.management.Delete' | translate}}</a>
            </div>
        </ng-template>

        


        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()"  tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop" >
                            <h4 style="text-align:center">{{editingSupportName ? ('support.management.EditSupport' | translate:editingSupportName) : ('support.management.NewSupport' | translate)}}</h4>
                        </mat-toolbar>
                       
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()"style="color:white;font-size:30px">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <support-hw #supportEditor [isGeneralEditor]="true"></support-hw>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
