﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <h4 style="text-align:center">{{'mainMenu.HardwareSupport' | translate}}</h4>
            <hr class="separator-hr" />
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'hardwareSupport.management.Search' | translate}}">></search-box>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="navbar action-box" *ngIf="canCreateUsers">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toolbaritem">
                            <a href="javascript:;" (click)="newHardwareSupport()">
                                <i class="fa fa-plus-circle"></i> {{'hardwareSupport.management.NewHardwareSupport' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <ngx-datatable class="material colored-

                       er sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [scrollbarH]="true"
                       [columnMode]="'force'"
                       [selectionType]="checkbox">
        </ngx-datatable>



        <ng-template #indexTemplate let-value="value" let-i="index">
            <strong>{{value}}</strong>
        </ng-template>

        <ng-template #primaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.primaryItem}}</span>
        </ng-template>
        <ng-template #BankTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.BankName}}</span>
        </ng-template>

        <ng-template #contactPersonTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.contactPerson}}</span>
        </ng-template>
        <ng-template #contactNoTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.contactNo}}</span>
        </ng-template>
        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
            <div>

                <a class="btn btn-link btn-xs" href="javascript:;" (click)="hwSupport(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'Support'}}</a>

                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editHardwareSupport(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'hardwareSupport.management.Edit' | translate}}</a>
                |
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteHardwareSupport(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'hardwareSupport.management.Delete' | translate}}</a>
            </div>
        </ng-template>

        <!------AddNew/Edit------>
        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">
                            <i class="fa fa-user-circle-o"></i>
                            {{editingBankName ? ('bank.management.EditBank' | translate:editingBankName) : ('bank.management.NewBank' | translate)}}
                        </h4>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--..bank-edit=selector,#bankEditor=BankEditComponent-->
                        <hardware-support-edit #hardwareSupportEditor [isGeneralEditor]="true"></hardware-support-edit>
                    </div>
                </div>
            </div>
        </div>



        <!------For Popup Page------>
        <div class="modal fade" bsModal #hwSupportModal="bs-modal" (onHidden)="onHwModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i>{{editingHardwareSupportName ? ('hardwareSupport.management.EditHardwareSupport' | translate:editingHardwareSupportName) : ('hardwareSupport.management.NewHardwareSupport' | translate)}}</h4>
                        <button type="button" class="close pull-right" title="Close" (click)="hwSupportModal.hide()">
                            <span aria-hidden="true">&times;</span> <!--Its for Close Button-->
                        </button>
                    </div>
                    <div class="modal-body">
                        <support-hw #HwSupportEditor [isGeneralEditor]="true"></support-hw>
                        <hwsupport-management #hwSupportListEditor></hwsupport-management>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
