﻿


<form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="deploymentForm" #f="ngForm" novalidate
      (ngSubmit)="saveDeployment()">
    <div>


        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="remarksForDeploy-{{uniqueId}}">Add Status</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.remarksForDeploy}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
                <textarea type="text" attr.id="remarksForDeploy-{{uniqueId}}" name="remarksForDeploy" placeholder="Enter Status" class="form-control" [(ngModel)]="deploymentEdit.remarksForDeploy" #remarksForDeployItem="ngModel"></textarea>
            </div>
        </div>



        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'deployment.editor.Close' | translate}}</button>
                    &nbsp;&nbsp;&nbsp;
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'deployment.editor.Cancel' | translate}}</button>
                    &nbsp;&nbsp;&nbsp;
                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('deployment.editor.Saving' | translate) : ('deployment.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
