﻿
<div *ngIf="deploymentEdit.statusName =='RequestVerified' || deploymentEdit.statusName =='Configured'||deploymentEdit.statusName =='ConfigurationVerified'||deploymentEdit.statusName =='Deployed'">
    <h3 class="col-sm-12" style="text-align:center;margin-bottom:20px;border:2px solid maroon"> Details Page</h3>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.BankName' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.bankName}}</label>
        <label class="control-label col-md-2">{{'deployment.management.Merchant' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.merchant}}</label>
    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.Merchant' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.merchant}}</label>
        <label class="control-label col-md-2">{{'deployment.management.IdMerchant' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.idMerchant}}</label>

    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.IdTerminal' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.idTerminal}}</label>
        <label class="control-label col-md-2">{{'deployment.management.Outlet' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.outlet}}</label>


    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.District' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.district}}</label>
        <label class="control-label col-md-2">{{'deployment.management.Address' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.address}}</label>

    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.ContactPerson' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">  {{deploymentEdit.contactPerson}}</label>
        <label class="control-label col-md-2">Contact No. 1<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.contactNo1}}</label>
    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">Contact No. 2<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.contactNo2}}</label>
        <label class="control-label col-md-2">{{'deployment.management.TerminalType' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.inventoryId}}</label>

    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">Prim. Nac No.<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.primaryNacNumber}}</label>
        <label class="control-label col-md-2">Sec. Nac No.<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.secondaryNacNumber}}</label>
    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.Currency' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4"> {{deploymentEdit.currency}}</label>
        <label class="control-label col-md-2">{{'deployment.management.Remarks' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.remarks}}</label>

    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">Status Name<span class="pull-right">:</span></label>
        <label class="control-label col-md-4">{{deploymentEdit.statusName}}</label>
        <label class="control-label col-md-2">{{'deployment.management.Priority' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.priority==true">HIGH</label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.priority==false">LOW</label>

    </div>


    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2 ">Manual Trans.<span class="pull-right">:</span></label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.manualTransaction==true">YES</label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.manualTransaction==false">NO</label>
        <label class="control-label col-md-2">Pre Auth.<span class="pull-right">:</span></label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.preAuthorization==true">YES</label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.preAuthorization==false">NO</label>
    </div>
    <div class="form-group has-feedback col-md-12">
        <label class="control-label col-md-2">{{'deployment.management.TipAdjustment' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.tipAdjustment==true">YES</label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.tipAdjustment==false">NO</label>
        <label class="control-label col-md-2">{{'deployment.management.refund' | translate}}<span class="pull-right">:</span></label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.refund==true">YES</label>
        <label class="control-label col-md-4" *ngIf="deploymentEdit.refund==false">NO</label>
    </div>


</div>

<form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="deploymentForm" #f="ngForm" novalidate
      (ngSubmit)="f.form.valid ? saveDeployment() :

            (!merchant.valid && showErrorAlert('Merchant name is required', 'Please enter a Merchant Name'));
            (!idMerchant.valid && showErrorAlert('Merchant Id is required', 'Please enter a merchant Id'));
            (!idTerminal.valid && showErrorAlert('Terminal Id is required', 'Please enter a terminal Id'));
           (!address.valid && showErrorAlert('Address is required', 'Please enter a Address'));
            (!contactPerson.valid && showErrorAlert('Contact Person is required', 'Please enter a Contact Person'));
            (!contactNo1.valid && showErrorAlert('Contact No is required', 'Please enter a Contact No.'));">



    <div *ngIf="deploymentEdit.statusName == 'Requested'|| deploymentEdit.statusName =='New' ">
        <div class="form-group has-feedback" style="color:darkgreen" *ngIf="deploymentEdit.statusName == 'Requested'">
            <label class="control-label col-md-2" for="name-{{uniqueId}}">Verification</label>


            <mat-form-field [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">

                <mat-select placeholder="Pick Verification" [(ngModel)]="deploymentEdit.verification" name="verification" [formControl]="verificationControl" class="dropvalid" required>
                    <mat-option *ngFor="let v of verify" [value]="v.text" class="drop">
                        <span>  {{ v.text }} </span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="verificationControl.hasError('required')">Please check Verification</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group has-feedback">
            <div *ngIf="deploymentEdit.requestName  == 'Reconfigure'">
                <label class="control-label col-md-2" for="bankName-{{uniqueId}}">{{'deployment.management.BankName' | translate}}</label>


                <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <mat-form-field class="col-sm-12">

                        <mat-select disabled [(ngModel)]="deploymentEdit.bankId" name="bankId" class="dropvalid" required>
                            <mat-option *ngFor="let bank of rows" [value]="bank.id" class="drop">
                                <strong>  {{ bank.bankName }} </strong>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="deploymentEdit.requestName  != 'Reconfigure' ">
                <label class="control-label col-md-2" for="bankName-{{uniqueId}}">{{'deployment.management.BankName' | translate}}</label>
                <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <mat-form-field class="col-sm-12">

                        <mat-select placeholder="Pick Bank" [(ngModel)]="deploymentEdit.bankId" name="bankId" [formControl]="bankControl" class="dropvalid" required>
                            <mat-option *ngFor="let bank of rows" [value]="bank.id" (click)="getBankId(bank.id)" class="drop">
                                <span>{{ bank.bankName }} </span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="bankControl.hasError('required')">Please choose Bank</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Merchant Name</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.merchant}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && merchant.valid, 'has-error' : f.submitted && !merchant.valid}">
                <input type="text" attr.id="merchant-{{uniqueId}}" id="merchant" name="merchant" placeholder="Enter Merchant"
                       class="form-control" [(ngModel)]="deploymentEdit.merchant" #merchantItem="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': merchant.valid, 'glyphicon-remove' : !merchant.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !merchant.valid" class="errorMessage">
                    Merchant Name is required
                </span>
            </div>

        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="idMerchant-{{uniqueId}}">{{'deployment.management.IdMerchant' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.idMerchant}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && idMerchant.valid, 'has-error' : f.submitted && !idMerchant.valid}">
                <input type="number" attr.id="idMerchant-{{uniqueId}}" id="idMerchant" name="idMerchant" placeholder="Enter Merchant Id" class="form-control" [(ngModel)]="deploymentEdit.idMerchant" #idMerchantItem="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': idMerchant.valid, 'glyphicon-remove' : !idMerchant.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !idMerchant.valid" class="errorMessage">
                    Merchant ID is required
                </span>
            </div>

            <label class="control-label col-md-2" for="idTerminal-{{uniqueId}}">{{'deployment.management.IdTerminal' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.idTerminal}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && idTerminal.valid, 'has-error' : f.submitted && !idTerminal.valid}">
                <input type="text" attr.id="idTerminal-{{uniqueId}}" id="idTerminal" name="idTerminal" placeholder="Enter Terminal Id" class="form-control" [(ngModel)]="deploymentEdit.idTerminal" #idTerminalItem="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': idTerminal.valid, 'glyphicon-remove' : !idTerminal.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !idTerminal.valid" class="errorMessage">
                    Terminal Id is required
                </span>
            </div>


        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="address-{{uniqueId}}">{{'deployment.management.Address' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.address}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && address.valid, 'has-error' : f.submitted && !address.valid}">
                <input type="text" attr.id="address-{{uniqueId}}" name="address" placeholder="Enter Address" class="form-control" [(ngModel)]="deploymentEdit.address" #addressItem="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': address.valid, 'glyphicon-remove' : !address.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !address.valid" class="errorMessage">
                    Address is required
                </span>
            </div>
            <label class="control-label col-md-2" for="district-{{uniqueId}}">{{'deployment.management.District' | translate}}</label>

            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">

                <mat-form-field class="col-sm-12">

                    <mat-select placeholder="Pick District" [(ngModel)]="deploymentEdit.district" name="district" [formControl]="districtControl" class="dropvalid" required>
                        <mat-option *ngFor="let d of districts" [value]="d.text" class="drop">
                            <span>  {{d.text}} </span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="districtControl.hasError('required')">Please choose District</mat-error>
                </mat-form-field>

            </div>


        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="outlet-{{uniqueId}}">{{'deployment.management.Outlet' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.outlet}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="outlet-{{uniqueId}}" id="outlet" name="outlet" placeholder="Enter Outlet" class="form-control" [(ngModel)]="deploymentEdit.outlet" #outletItem="ngModel" />

            </div>
            <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">{{'deployment.management.ContactPerson' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.contactPerson}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && contactPerson.valid, 'has-error' : f.submitted && !contactPerson.valid}">
                <input type="text" attr.id="contactPerson-{{uniqueId}}" id="contactPerson" name="contactPerson" placeholder="Enter Contact Person" class="form-control" [(ngModel)]="deploymentEdit.contactPerson" #contactPersonItem="ngModel" />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': contactPerson.valid, 'glyphicon-remove' : !contactPerson.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !contactPerson.valid" class="errorMessage">
                    Contact Person is required
                </span>
            </div>


        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="contactNo1-{{uniqueId}}">Contact No.1</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && contactNo1.valid, 'has-error' : f.submitted && !contactNo1.valid}">
                <p class="form-control-static">{{deployment.contactNo1}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="contactNo1-{{uniqueId}}" id="contactNo1" name="contactNo1" placeholder="Enter Contact Number" class="form-control" [(ngModel)]="deploymentEdit.contactNo1" #contactNo1Item="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': contactNo1.valid, 'glyphicon-remove' : !contactNo1.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !contactNo1.valid" class="errorMessage">
                    Contact Number is required
                </span>
            </div>
            <label class="control-label col-md-2" for="contactNo2-{{uniqueId}}">Contact No.2</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.contactNo2}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="contactNo2-{{uniqueId}}" id="contactNo2" name="contactNo2" placeholder="Enter Contact Number" class="form-control" [(ngModel)]="deploymentEdit.contactNo2" #contactNo2Item="ngModel" />

            </div>


        </div>
        <div class="form-group has-feedback" *ngIf="!isPartialRental || isSelected('yes')">
            <label class="control-label col-md-3" for="terminalType-{{uniqueId}}">Rental Terminal Type</label>

            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-8]="!isViewOnly">

                <mat-form-field class="col-sm-12">

                    <mat-select placeholder="Pick Rental Terminal Types" [(ngModel)]="deploymentEdit.inventoryId" name="inventoryId" [formControl]="inventoryControl" class="dropvalid" required>
                        <mat-option *ngFor="let inventory of rows2" [value]="inventory.id" class="drop">
                            <span> {{ inventory.primaryItem }} &nbsp;&nbsp;{{ inventory.secondaryItem }}  &nbsp;&nbsp; {{ inventory.tertiaryItem }} &nbsp;&nbsp; {{ inventory.detailItem }} &nbsp;&nbsp;<span class="col-sm-offset-4 " style="font-weight:700">Available</span> &nbsp;&nbsp;<span class="badge">{{ inventory.available }}</span></span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="inventoryControl.hasError('required')">Please choose Rental Terminal type</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group has-feedback" *ngIf="isPartialRental">
            <label class="control-label col-md-3" for="terminalType1-{{uniqueId}}">Partial Rental Terminal Type</label>

            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-9]="!isViewOnly">

                <mat-form-field class="col-sm-12">

                    <mat-select placeholder="Pick Partial Rental Terminal Types" [(ngModel)]="deploymentEdit.inventoryId" name="inventoryId" [formControl]="inventoryPartialControl" class="dropvalid" required>
                        <mat-option *ngFor="let inventory of rowsPosStock" [value]="inventory.id" class="drop">
                            <span *ngIf="inventory.bankStatus=='Partial Rental' && inventory.primaryItem != null || inventory.bankStatus=='Both' && inventory.primaryItem != null" style="font-size:12px"> {{ inventory.primaryItem }} &nbsp;&nbsp;{{ inventory.secondaryItem }}  &nbsp;&nbsp; {{ inventory.tertiaryItem }} &nbsp;&nbsp; {{ inventory.detailItem }} &nbsp;&nbsp;<span class="col-sm-offset-1" style="font-weight:700">Deployed</span>&nbsp;<span class="badge">{{inventory.deployed}}</span>&nbsp;<span class="col-sm-offset-1" style="font-weight:700">Total</span>&nbsp;<span class="badge">{{inventory.total}}</span> &nbsp;&nbsp;<span class="badge">{{inventory.bankName}}</span></span>

                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="inventoryPartialControl.hasError('required')">Please choose Partial Rental Terminal type</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="form-group has-feedback" *ngIf="isPartialRental || showRadioButton">
            <label class="control-label col-md-6 col-md-offset-1" style="padding-top:-0px">
                Do you want to use Imark Property(POS)?
            </label>
            <mat-radio-group>
                <mat-radio-button name="yes" value="yes" (click)="setradio('yes')">Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button name="no" value="no" (click)="setradio('no')" [checked]='true'>No</mat-radio-button>
            </mat-radio-group>
        </div>


        <!---------Nac Number---------->
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="primaryNacNumber-{{uniqueId}}">{{'deployment.management.PrimaryNacNumber' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.primaryNacNumber}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="primaryNacNumber-{{uniqueId}}" name="primaryNacNumber" placeholder="Enter Primary Nac Number" class="form-control" [(ngModel)]="deploymentEdit.primaryNacNumber" #primaryNacNumberItem="ngModel" />
            </div>
            <label class="control-label col-md-2" for="secondaryNacNumber-{{uniqueId}}">{{'deployment.management.SecondaryNacNumber' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.secondaryNacNumber}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="secondaryNacNumber-{{uniqueId}}" name="secondaryNacNumber" placeholder="Enter Secondary Nac Number" class="form-control" [(ngModel)]="deploymentEdit.secondaryNacNumber" #secondaryNacNumberItem="ngModel" />
            </div>


        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="currency-{{uniqueId}}">{{'deployment.management.Currency' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.currency}}</p>
            </div>
            <!--<div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="currency-{{uniqueId}}" name="currency" placeholder="Enter Currency" class="form-control" [(ngModel)]="deploymentEdit.currency" #currencyItem="ngModel" />
            </div>-->
            <mat-form-field *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">

                <mat-select placeholder="Pick Currency" [(ngModel)]="deploymentEdit.currency" name="currency" class="dropvalid">
                    <mat-option *ngFor="let v of currencyz" [value]="v.text" class="drop">
                        <span>  {{ v.text }} </span>
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <label class="control-label col-md-2" for="remarks-{{uniqueId}}">{{'deployment.management.Remarks' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deployment.remarks}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <textarea type="text" attr.id="remarks-{{uniqueId}}" name="remarks" placeholder="Enter Remarks" class="form-control" [(ngModel)]="deploymentEdit.remarks" #remarksItem="ngModel"></textarea>
            </div>
        </div>
        <div class="form-group" style="margin-top:30px">

            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{deployment.priority}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">

                <mat-checkbox attr.id="priority-{{uniqueId}}" name="priority" [(ngModel)]="deploymentEdit.priority" #priorityItem="ngModel">Priority</mat-checkbox>
            </div>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{deployment.tipAdjustment}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">

                <mat-checkbox attr.id="tipAdjustment-{{uniqueId}}" name="tipAdjustment" [(ngModel)]="deploymentEdit.tipAdjustment" #tipAdjustmentItem="ngModel">Tip Adjustment</mat-checkbox>
            </div>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{deployment.preAuthorization}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">

                <mat-checkbox attr.id="preAuthorization-{{uniqueId}}" name="preAuthorization" [(ngModel)]="deploymentEdit.preAuthorization" #preAuthorizationItem="ngModel">Pre Authorization</mat-checkbox>
            </div>
        </div>

        <div class="form-group" style="margin-top:30px">

            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{deployment.manualTransaction}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">

                <mat-checkbox attr.id="manualTransaction-{{uniqueId}}" name="manualTransaction" [(ngModel)]="deploymentEdit.manualTransaction" #manualTransactionItem="ngModel">Manual Transaction</mat-checkbox>
            </div>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{deployment.refund}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">

                <mat-checkbox attr.id="refund-{{uniqueId}}" name="refund" [(ngModel)]="deploymentEdit.refund" #refundItemItem="ngModel">Refund</mat-checkbox>
            </div>

        </div>
        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'deployment.editor.Close' | translate}}</button>
                    &nbsp;&nbsp;&nbsp;
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'deployment.editor.Cancel' | translate}}</button>
                    &nbsp;&nbsp;&nbsp;
                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('deployment.editor.Saving' | translate) : ('deployment.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
