﻿﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">


        <div class="row control-box">

            <mat-toolbar style="background-color: rgb(128,0,0) !important;;color:white">
                <h4 style="text-align:center">Serial No In Stock</h4>
            </mat-toolbar>


        </div>
       
        <div >

            <div class="col-sm-9 col-sm-offset-1" style="margin-top:25px">
                <ag-grid-angular style=" height: 400px;"
                                 #agGrid
                                 id="myGrid"
                                 class="ag-theme-balham"
                                 [enableSorting]="true"
                                 [enableFilter]="true"
                                 [rowData]="rows"
                                 [pagination]="true"
                                 [rowSelection]="multiple"
                                 (gridReady)="onGridReady($event)"
                                 [columnDefs]="columnDefs"
                                 (rowClicked)="onRowClicked($event)">
                </ag-grid-angular>

            </div>
        </div>

        

        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color:maroon;color:white">
                            <h4 style="text-align:center"> In Stock</h4>

                            <button type="button" class="close col-md-offset-2" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">

                        <serial-list #serialListEditor></serial-list>

                    </div>

                </div>

            </div>

        </div>
        


    </div>
</div>

