﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center">Support</h4>
            </mat-toolbar>
            <!--<h4 style="text-align:center">Support</h4>-->
            <div class="col-sm-12" style="margin-top:20px;margin-left:10px">
                <div class="form-group search-box col-sm-6">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'support.management.Search' | translate}}">></search-box>
                </div>
                <label style="background-color:#027FF4;color:white;" class="col-sm-offset-2">
                    <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                </label>
                <button class="btn btn-primary col-sm-offset-1" value="CLEAR" (click)="loadSupportData()">Reset</button>
            </div>

        </div>

        <div class="col-sm-12">
            <ag-grid-angular style=" height: 500px;"
                             #agGrid
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [rowData]="rows"
                             [pagination]="true"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                            (gridReady)="onGridReady($event)"
                             (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
        </div>

        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                            <h4 style="text-align:center">{{editingSupportName ? ('support.management.EditSupport' | translate:editingSupportName) : ('support.management.NewSupport' | translate)}}</h4>
                        </mat-toolbar>
                        <!--<h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingSupportName ? ('support.management.EditSupport' | translate:editingSupportName) : ('support.management.NewSupport' | translate)}}</h4>-->
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class=" col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Bank Name</label>
                            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.bankName}}</p>
                            </div>
                            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Merchant</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.merchant}}</p>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="idMerchant-{{uniqueId}}">Merchant Id</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.idMerchant}}</p>
                            </div>
                            <label class="control-label col-md-2" for="idTerminal-{{uniqueId}}">Terminal Id</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.idTerminal}}</p>
                            </div>
                        </div>
                        <div class=" col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="address-{{uniqueId}}">Address</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.address}}</p>
                            </div>
                            <label class="control-label col-md-2" for="address-{{uniqueId}}">Deployed Location</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.merchantLocation}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Terminal Type</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.item}}</p>
                            </div>
                            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Serial Number</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.serialNumber}}</p>
                            </div>
                        </div>
                        <div class=" col-sm-11 col-sm-offset-1">

                            <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Per.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.contactPerson}}</p>
                            </div>
                            <label class="control-label col-md-2" for="contactNumber-{{uniqueId}}">Contact No.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.contactNo1}}</p>
                            </div>
                        </div>



                        <div class=" col-sm-11 col-sm-offset-1">

                            <label class="control-label col-md-2" for="connectivity-{{uniqueId}}">Connectivity</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.connectivity}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="receivedBy-{{uniqueId}}">Received By</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.receivedBy}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1" style="margin-bottom:30px">

                            <label class="control-label col-md-3" for="receivedContactNo-{{uniqueId}}">Received Contact No.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.receivedContactNo}}</p>
                            </div>
                        </div>
                        <hr class="separator-hr" />
                        <support-edit #supportEditor [isGeneralEditor]="true"></support-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
