﻿<nav id="sidebar" class="col-sm-3 active">
    <!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
        <i class="glyphicon glyphicon-align-left"></i>
        
    </button>-->
    <div class="sidebar-header">

        <h3>IMark </h3>
       <strong><i class="glyphicon glyphicon-home"></i></strong> 

    </div>

    <ul class="list-unstyled components">
        <li class="">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                Stock
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">

                <li routerLinkActive="active"><a routerLink="/add">Add Stock </a></li>
                <li routerLinkActive="active"><a routerLink="/list">Pos Status </a></li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-erase"></i>
                POS
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li routerLinkActive="active"><a routerLink="/deployment">Pos Master</a></li>
                <li routerLinkActive="active"><a routerLink="/deploylist">Pending Deploy</a></li>
                <li routerLinkActive="active"><a routerLink="/support">Support</a></li>
            </ul>
        </li>
        <li>
            <a href="#reports" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-link"></i>
                Reports
            </a>
            <ul class="collapse list-unstyled" id="reports">
                <li routerLinkActive="active"><a routerLink="/poshistory">Reports</a></li>
                <li routerLinkActive="active"><a routerLink="/posrecords">Old Records</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/maintenance">
                <i class="glyphicon glyphicon-paperclip"></i>
                Maintenance
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-send"></i>
                Contact
            </a>
        </li>
    </ul>
</nav>

