    <div id="app_container" class="{{configurations.theme | lowercase}}-theme">
    <ng2-toasty></ng2-toasty>
    <div class='container'>
        <nav id="header" class="app-component navbar navbar-inner navbar-fixed-top">
            <nav class="container">
                <div class="navbar-header">
                    <button type="button" class="app-component navbar-toggle collapsed" data-toggle="collapse" data-target=".menuItemsContainer.app-component" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="app-component navbar-brand" routerLink="/">
                        <img [src]="appLogo" alt="logo">
                        <span class="app-component appTitle" style="margin-left:3px">IMARK Inventory</span>
                    </a>
                </div>
                <div *ngIf="isUserLoggedIn" class="app-component collapse navbar-collapse menuItemsContainer">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink=""><span class="glyphicon glyphicon-home"></span></a></li>
                    </ul>




                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Master <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li routerLinkActive="active" *ngIf="canViewInventoryList"><a routerLink="/bank">Bank</a></li>
                                <li routerLinkActive="active" *ngIf="canViewInventoryList"><a routerLink="/application">Application</a></li>
                            </ul>
                        </li>


                    </ul>


                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stock <b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">POS</a>
                                    <ul class="dropdown-menu">
                                        <!--<li class="kopie"><a href="#">Dropdown Link 4</a></li>-->

                                        <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/inventory">Add POS Terminal Type</a></li>
                                        <li routerLinkActive="active" *ngIf="canCreateUsers"><a routerLink="/addpos">Add POS Stock</a></li>
                                        <li routerLinkActive="active" *ngIf="canCreateUsers"><a routerLink="/list">Add Serial Number(Pos Stock)</a></li>
                                        <li routerLinkActive="active" *ngIf="canCreateUsers"><a routerLink="/serialinstock">Serial Number List(In Stock)</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">POS Spares</a>
                                    <ul class="dropdown-menu">
                                        <!--<li class="kopie"><a href="#">Dropdown Link 4</a></li>-->

                                        <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/posSpares">Add POS Spare Type</a></li>
                                        <li routerLinkActive="active" *ngIf="canCreateUsers"><a routerLink="/add">Add POS Spare Stock</a></li>
                                    </ul>
                                </li>
                               

                            </ul>
                        </li>


                        <!--<ul class="dropdown-menu">
            <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/inventory">Add Pos Types</a></li>
            <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/posSpares">Add Pos Spares Types</a></li>
            <li routerLinkActive="active" *ngIf="canViewInventoryAdd"><a routerLink="/add">Add Stock</a></li>
            <li routerLinkActive="active" *ngIf="canViewInventoryList"><a routerLink="/list">Pos Types Stock</a></li>
        </ul>-->


                    </ul>
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">POS <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li routerLinkActive="active" *ngIf="canViewDeploymentList"><a routerLink="/deployment">Pos Master</a></li>
                                <li routerLinkActive="active" *ngIf="canViewDeployList"><a routerLink="/deploylist">Pending Deploy</a></li>

                                <li routerLinkActive="active" *ngIf="canviewConfiguration"><a routerLink="/posnotreceivedlist"> Pos Not Received</a></li>
                                <li routerLinkActive="active" *ngIf="canviewConfiguration"><a routerLink="/damagepos"> Damage Pos List</a></li>


                            </ul>
                        </li>

                    </ul>
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">POS Report <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li routerLinkActive="active" *ngIf="canViewInventory">  <a class="active" routerLink="/poshistory"> Bank Wise POS Report</a></li>
                                <li routerLinkActive="active" *ngIf="canviewConfiguration"><a routerLink="/posrecords">POS History</a></li>
                                <li routerLinkActive="active" *ngIf="canviewConfiguration"><a routerLink="/sparerecords">POS Spare History</a></li>

                            </ul>

                        </li>

                    </ul>
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/posstock">Pos Sales</a></li>
                               <!--<li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/sparesstock">Pos Spares Sales</a></li>-->

                            </ul>

                        </li>
                    </ul>
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hardware <span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/hardwareSupport">Hardware</a></li>
                                <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/hwsupportlist">Support</a></li>
                                <li routerLinkActive="active" *ngIf="canViewInventory"><a routerLink="/hwMaintainence">Maintenance</a></li>


                            </ul>

                        </li>
                    </ul>

                    <ul class="app-component nav navbar-nav nav-pills navBarPadding">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Maintenance and Support <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li routerLinkActive="active" *ngIf="canviewConfiguration"><a routerLink="/maintenance">Maintenance</a></li>
                                <li routerLinkActive="active" *ngIf="canviewConfiguration"><a routerLink="/support">Support</a></li>
                            </ul>
                        </li>

                    </ul>

                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li (click)="logout()"><a href="javascript:;"><span class="glyphicon glyphicon-log-out"></span> {{'mainMenu.Logout' | translate}}</a></li>
                    </ul>
                    <p class="app-component navbar-text navbar-right notifications-popup">
                        {{'app.Welcome' | translate}}
                        <a class="app-component navbar-link user-name" [popover]="popTemplate" (onHidden)="markNotificationsAsRead()" placement="bottom" [popoverTitle]="notificationsTitle" href="javascript:;" triggers="focus">
                            {{userName}}
                            <span *ngIf="newNotificationCount > 0" class="badge">{{newNotificationCount}}</span>
                        </a>,
                    </p>

                    <ng-template #popTemplate>
                        <notifications-viewer [isViewOnly]="true"></notifications-viewer>
                    </ng-template>





                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li routerLinkActive="active"><a routerLink="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                    </ul>
                </div>
                <div *ngIf="!isUserLoggedIn && router.isActive('/about', false)" class="app-component collapse navbar-collapse menuItemsContainer">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li routerLinkActive="active"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span></a></li>
                    </ul>
                </div>
                <div *ngIf="!isUserLoggedIn && router.isActive('/login', false) || false" class="app-component collapse navbar-collapse menuItemsContainer">
                    <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
                        <li routerLinkActive="active"><a routerLink="/about"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                    </ul>
                </div>
            </nav>
        </nav>

        <!--<div id="pre-bootstrap" *ngIf="!removePrebootScreen" [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
            <div class="messaging">
                <h1>
                    Loaded!
                </h1>
                <p>
                    IMARK APPLICATION SYSTEM - <span class="appName" style="font-style:italic">Inventory</span><span class="appName">App</span> &copy; <a href="https://www.stctech.com.np">WWW.STCTECH.COM>NP</a>
                </p>

            </div>
        </div>-->

        <div id="mainContent" class="app-component">
            <router-outlet></router-outlet>
        </div>

        <div id="footer">
            <div class="app-component navbar-fixed-bottom navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="app-component vcenter_text center-block">
                            <p class="text-center text-muted">
                                <span class="appName" style="font-style:italic">imark</span><span class="appName">App</span> &copy; {{getYear()}}
                                <a href="https://www.stctech.com.np" target="_blank">www.stctech.com.np</a>
                                <!--<span class="small display-none">- Powered by <a href="https://www.stctech.com.np" target="_blank"><span class="appName" style="font-style:italic">quick</span><span class="appName">App</span></a></span>-->
                            </p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()" (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
         [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <app-login #loginControl isModal="true"></app-login>
        </div>
    </div>
</div>