﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">

        <!--Search Export etc-->
        <div class="row control-box">
            <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center">REPORTS</h4>
            </mat-toolbar>

            <div class="col-sm-12" style="margin-top:20px">


            </div>
            <!--<br /> <br /> <br />-->
            <div class="col-sm-12" style="margin-top:20px;margin-left:15px">
                <div class="form-group search-box col-sm-5">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Search For Reports">></search-box>
                </div>
                <label style="background-color:#027FF4;color:white;" class="col-md-offset-1">
                    <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                </label>
                <button class="btn btn-primary col-md-offset-1" value="CLEAR" (click)="loadPosHistorysData()">Reset</button>
                <app-date-range class="col-md-3" [(dateRange)]="dateRange" (dateRangeChange)="setReturnValue($event)" (change)="loadData()"></app-date-range>


            </div>


        </div>

        <div class="col-sm-12">
            <ag-grid-angular style=" height: 420px;"
                             #agGrid
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [rowData]="rows"
                             [pagination]="true"
                             [paginationPageSize]="50"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                             (gridReady)="onGridReady($event)"
                             (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
        </div>


        <!--<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                        <h4 style="text-align:center">{{'otherstock.management.NewStock' | translate}}</h4>
                    </mat-toolbar>

                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <otherstock-edit #otherStockEditor [isGeneralEditor]="true"></otherstock-edit>
                    <otherstock-list #stockListEditor></otherstock-list>
                </div>
            </div>
        </div>
    </div>-->
        <!----Support Button Handling---->
        <div class="modal fade" bsModal #supportModal="bs-modal" (onHidden)="supportModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                            <h4 style="text-align:center">{{editingSupportName ? ('support.management.EditSupport' | translate:editingSupportName) : ('support.management.NewSupport' | translate)}}</h4>
                        </mat-toolbar>
                        <!--<h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingSupportName ? ('support.management.EditSupport' | translate:editingSupportName) : ('support.management.NewSupport' | translate)}}</h4>-->
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class=" col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Bank Name</label>
                            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.bankName}}</p>
                            </div>
                            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Merchant</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.merchant}}</p>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="idMerchant-{{uniqueId}}">Merchant Id</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.idMerchant}}</p>
                            </div>
                            <label class="control-label col-md-2" for="idTerminal-{{uniqueId}}">Terminal Id</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.idTerminal}}</p>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Terminal Type</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.item}}</p>
                            </div>
                            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Serial Number</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.serialNumber}}</p>
                            </div>
                        </div>
                        <div class=" col-sm-11 col-sm-offset-1">

                            <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Per.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.contactPerson}}</p>
                            </div>
                            <label class="control-label col-md-2" for="contactNumber-{{uniqueId}}">Contact No.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.contactNo1}}</p>
                            </div>
                        </div>

                        <div class=" col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="address-{{uniqueId}}">Location</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.merchantLocation}}</p>
                            </div>
                            <label class="control-label col-md-2" for="connectivity-{{uniqueId}}">Connectivity</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.connectivity}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="receivedBy-{{uniqueId}}">Received By</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.receivedBy}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1" style="margin-bottom:30px">

                            <label class="control-label col-md-3" for="receivedContactNo-{{uniqueId}}">Received Contact No.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.receivedContactNo}}</p>
                            </div>
                        </div>

                        <hr class="separator-hr" />
                        <support-edit #supportEditor [isGeneralEditor]="true" style="margin-top:30px"></support-edit>
                        <support-management #supportListEditor></support-management>
                    </div>
                </div>
            </div>
        </div>

        <!---History Button Part-->
        <div class="modal fade" bsModal #individualHistoryModal="bs-modal" (onHidden)="individualHistoryModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                            <h4 style="text-align:center">Old History Records</h4>
                        </mat-toolbar>

                        <button type="button" class="close pull-right" title="Close" (click)="individualHistoryModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <individual-record #historyRecordEditor [isGeneralEditor]="true"></individual-record>
                    </div>
                </div>
            </div>
        </div>

        <!---Roll Distribution Part-->
        <div class="modal fade" bsModal #rollModal="bs-modal" (onHidden)="onRollModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                            <h4 style="text-align:center">Roll Distribution</h4>
                        </mat-toolbar>

                        <button type="button" class="close pull-right" title="Close" (click)="rollModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Bank Name</label>
                            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.bankName}}</p>
                            </div>
                            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Merchant</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.merchant}}</p>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="idMerchant-{{uniqueId}}">Merchant Id</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.idMerchant}}</p>
                            </div>
                            <label class="control-label col-md-2" for="idTerminal-{{uniqueId}}">Terminal Id</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.idTerminal}}</p>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Terminal Type</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.item}}</p>
                            </div>
                            <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Serial Number</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.serialNumber}}</p>
                            </div>
                        </div>
                        <div class=" col-sm-11 col-sm-offset-1">

                            <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Per.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.contactPerson}}</p>
                            </div>
                            <label class="control-label col-md-2" for="contactNumber-{{uniqueId}}">Contact No.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.contactNo1}}</p>
                            </div>
                        </div>

                        <div class=" col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="address-{{uniqueId}}">Location</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.merchantLocation}}</p>
                            </div>
                            <label class="control-label col-md-2" for="connectivity-{{uniqueId}}">Connectivity</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.connectivity}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <label class="control-label col-md-2" for="receivedBy-{{uniqueId}}">Received By</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.receivedBy}}</p>
                            </div>

                        </div>
                        <div class="col-sm-11 col-sm-offset-1" style="margin-bottom:30px">

                            <label class="control-label col-md-3" for="receivedContactNo-{{uniqueId}}">Received Contact No.</label>
                            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                <p>{{posHistory.receivedContactNo}}</p>
                            </div>
                        </div>

                        <hr class="separator-hr" />
                        <otherstock-edit #otherStockEditor [isGeneralEditor]="true"></otherstock-edit>
                        <otherstock-list #stockListEditor></otherstock-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
