﻿
<div class="col-sm-12">
    <div class="form-group search-box col-sm-6">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="Search Previous Records"></search-box>
    </div>
    <label style="background-color:#027FF4;color:white" class="col-md-offset-1">
        <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
    </label>
    <button class="btn btn-primary col-sm-offset-1" value="CLEAR" (click)="loadPosHistorysData()">Reset</button>
</div>
<br /><br /><br />
<div>
    <ag-grid-angular style="width: 850px;height: 500px;"
                     id="myGrid"
                     class="ag-theme-balham"
                     [enableSorting]="true"
                     [enableFilter]="true"
                     [rowData]="rows"
                     [pagination]="true"
                     [rowSelection]="multiple"
                     [columnDefs]="columnDefs">
    </ag-grid-angular>
</div>