﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div [hidden]="edited">
            <div class="row control-box">
                <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white">
                    <h4 style="text-align:center">Pending Deploy List</h4>
                </mat-toolbar>
                
                <div class="col-sm-12" style="margin-top:15px">
                    <div class="form-group search-box col-sm-6">
                        <search-box (searchChange)="onSearchChanged($event)" placeholder="Search For Pending Deploy">></search-box>
                    </div>
                    <label style=" background-color:#027FF4;color:white" class="col-sm-offset-3">
                        <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                    </label>
                    <button class="btn btn-primary" value="CLEAR" (click)="loadDeploymentData()" style="margin-left:20px">Reset</button>
                </div>

            </div>

            <ag-grid-angular style=" height: 500px;"
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [rowData]="rows"
                             [pagination]="true"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                             (gridReady)="onGridReady($event)"
                             (rowClicked)="onRowClicked($event)">
                >

            </ag-grid-angular>

            <!--<ngx-datatable class="material colored-header sm table table-striped table-hover" id="example"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [columnMode]="'force'">


        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>
        <ng-template #bankItemTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.bankName}}" placement="right">{{value.bankName}}</span>
        </ng-template>
        <ng-template #merchantItemTemplate let-row="row" let-value="row" let-i="index">

            <span tooltip="{{value.merchant}}" placement="right">{{value.merchant}}</span>
        </ng-template>
        <ng-template #idMerchantTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.idMerchant}}" placement="right">{{value.idMerchant}}</span>
        </ng-template>
        <ng-template #idTerminalTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.idTerminal}}" placement="right">{{value.idTerminal}}</span>
        </ng-template>
        <ng-template #terminalTypeTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.primaryItem}}&nbsp;{{value.secondaryItem}}&nbsp;{{value.tertiaryItem}}</span>
        </ng-template>
        <ng-template #outletItemTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.outlet}}" placement="right">{{value.outlet}}</span>
        </ng-template>


        <ng-template #requestTypeItemTemplate let-row="row" let-value="row" let-i="index">
            <span tooltip="{{value.requestName}}" placement="right">{{value.requestName}}</span>
        </ng-template>
        <ng-template #actionsTemplate let-row="row" let-value="row" let-i="index">
            <div *ngIf="canManageUsers">
                <a *ngIf="value.statusName =='ConfigurationVerified' " class="btn btn-link btn-xs" href="javascript:;" (click)="loadDeploy(row.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'inventory.management.Deploy' | translate}}</a>
                <a *ngIf="value.statusName =='Deployed'" class="btn btn-link btn-xs" href="javascript:;" (click)="loadDeploy(row.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'Verify' | translate}} Deploy</a>
            </div>
        </ng-template>
    </ngx-datatable>-->


            <div class="modal fade" bsModal #deployModal="bs-modal" (onHidden)="onDeployModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                                <h4 style="text-align:center"> Pending Deploy</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="deployModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>
                            <!--<h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingInventoryName ? ('inventory.management.EditInventory' | translate:editingInventoryName) : ('inventory.management.NewInventory' | translate)}}</h4>
                    <button type="button" class="close pull-right" title="Close" (click)="deployModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
                        </div>
                        <div class="modal-body">
                            <div class=" col-sm-11 col-sm-offset-1">
                                <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Bank Name</label>
                                <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.bankName}}</p>
                                </div>
                                <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Merchant</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.merchant}}</p>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <label class="control-label col-md-2" for="idMerchant-{{uniqueId}}">Merchant Id</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.idMerchant}}</p>
                                </div>
                                <label class="control-label col-md-2" for="idTerminal-{{uniqueId}}">Terminal Id</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.idTerminal}}</p>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Terminal Type</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.item}}</p>
                                </div>
                                <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Serial Number</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.serialNumber}}</p>
                                </div>
                            </div>
                            <div class=" col-sm-11 col-sm-offset-1">

                                <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Per.</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.contactPerson}}</p>
                                </div>
                                <label class="control-label col-md-2" for="contactNumber-{{uniqueId}}">Contact No.</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.contactNo1}}</p>
                                </div>
                            </div>
                            <br /><br /><br />
                            <deploy-edit #deployEditor [isGeneralEditor]="true" ></deploy-edit>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" bsModal #addStatusModal="bs-modal" (onHidden)="onEditorAddStatusModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">

                            <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                                <h4 style="text-align:center">Add Status</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="addStatusModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>

                        </div>
                        <div class="modal-body">
                            <add-status #addStatusEditor [isGeneralEditor]="true"></add-status>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>