﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center">Pos Spares Sold Details</h4>
            </mat-toolbar>
           
           
            <br /> <br /> <br />
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for Pos Spares">></search-box>
                </div>
            </div>
            
        </div>
        <div class="col-sm-12">
            <ag-grid-angular style=" height: 500px;"
                             #agGrid
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [rowData]="rows"
                             [enableFilter]="true"             
                             [pagination]="true"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                             (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
        </div>


        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                            <h4 style="text-align:center">New Sold</h4>
                        </mat-toolbar>

                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <otherstock-edit #otherStockEditor [isGeneralEditor]="true"></otherstock-edit>
                        <otherstock-list #stockListEditor></otherstock-list>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
