﻿﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">


        <div class="row control-box">

            <mat-toolbar style="background-color: rgb(128,0,0) !important;;color:white">
                <h4 style="text-align:center">Pos Sales</h4>
            </mat-toolbar>


        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <label style="background-color:maroon;color:white" *ngIf="showSold">
                <button class="btn btn-primary" (click)="hideSoldHistory()">SHOW SOLD STOCK</button>
            </label>
            <label style="background-color:maroon;color:white" *ngIf="!showSold">
                <button class="btn btn-primary" (click)="showSoldHistory()">SHOW SOLD HISTORY</button>
            </label>
        </div>
        <div *ngIf="showStock">

            <div class="col-sm-9 col-sm-offset-1" style="margin-top:25px">
                <ag-grid-angular style=" height: 200px;"
                                 #agGrid
                                 id="myGrid"
                                 class="ag-theme-balham"
                                 [enableSorting]="true"
                                 [enableFilter]="true"
                                 [rowData]="rows"
                                 [pagination]="true"
                                 [rowSelection]="multiple"
                                 (gridReady)="onGridReady($event)"
                                 [columnDefs]="columnDefs"
                                 (rowClicked)="onRowClicked($event)">
                </ag-grid-angular>

            </div>
        </div>

        <div *ngIf="!showStock">
            <div class="col-sm-11 col-sm-offset-1" style="margin-top:20px">
                <div class="form-group search-box col-sm-6">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for Sold POS">></search-box>
                </div>

                <label style="margin-left: 20px; background-color:#027FF4;color:white">
                    <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                </label>
            </div>

            <div class="col-sm-9 col-sm-offset-1">
                <ag-grid-angular style=" height: 400px;"
                                 #agGrid
                                 id="myGrid"
                                 class="ag-theme-balham"
                                 [enableSorting]="true"
                                 [enableFilter]="true"
                                 [rowData]="rowsSold"
                                 [pagination]="true"
                                 [rowSelection]="multiple"
                                 (gridReady)="onGridSoldHistoryReady($event)"
                                 [columnDefs]="bankColDefs">
                </ag-grid-angular>

            </div>
        </div>

        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color:maroon;color:white">
                            <h4 style="text-align:center"> Sell</h4>
                            <button type="button" class="close col-md-offset-2" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">

                        <pos-stock-add #posStockEditor></pos-stock-add>

                    </div>

                </div>

            </div>

        </div>
        <div class="modal fade" bsModal #editorHistoryModal="bs-modal" (onHidden)="onEditorStockModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color:maroon;color:white">
                            <h4 *ngIf="!isEditMode" style="text-align:center;color:white"> Sold History</h4>
                            <button type="button" class="close col-md-offset-2" title="Close" (click)="editorHistoryModal.hide()" style="color:white;font-size:30px"></button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">

                        <pos-stock-history #stockHistoryEditor></pos-stock-history>

                    </div>

                </div>

            </div>

        </div>


    </div>
    </div>

