﻿<div>
    
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)=" saveOtherStock()">

        <div style="height:1px; background-color:darkgray;clear:both; margin-bottom:10px;"></div>
        <div class="col-sm-12">
            <div class="form-group has-feedback col-sm-6">
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" class="stock">
                    <input disabled autofocus type="text" attr.id="inventoryAddId-{{uniqueId}}" id="inventoryAddId" name="inventoryAddId" placeholder="Enter Inventory"
                           class="form-control" [(ngModel)]="otherStock.inventoryAddId" #inventoryAddId="ngModel" />
                </div>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" class="stock">
                    <input disabled autofocus type="text" attr.id="inventoryAddId-{{uniqueId}}" id="inventoryAddId" name="inventoryAddId" placeholder="Enter Inventory"
                           class="form-control" [(ngModel)]="otherStock.inventoryAddId" #inventoryAddId="ngModel" />
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" class="stock">
                    <input disabled autofocus type="text" attr.id="otherStockId-{{uniqueId}}" id="otherStockId" name="otherStockId" placeholder="Enter Inventory"
                           class="form-control" [(ngModel)]="otherStock.otherStockId" #otherStockId="ngModel" />
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" class="stock">
                    <input disabled autofocus type="text" attr.id="otherPartyId-{{uniqueId}}" id="otherPartyId" name="otherPartyId" placeholder="Enter Inventory"
                           class="form-control" [(ngModel)]="otherStock.otherPartyId" #otherPartyId="ngModel" />
                </div>
                <br />   <br />



                <label class="control-label col-md-offset-2 text-center" for="primaryItem-{{uniqueId}}">Pos Spare Item</label>
                <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-12]="!isViewOnly">
                    <p class="form-control-static">
                        <span style="color:maroon;font-size:17px">
                            {{otherStock.primaryItem}}&nbsp;&nbsp;
                            {{otherStock.secondaryItem}}&nbsp;&nbsp;{{otherStock.tertiaryItem}}&nbsp;&nbsp;{{otherStock.detailItem}}
                        </span>
                    </p>
                </div>

                <!-- Roll Distribution Information Entry-->
                <br />   <br />   <br />
                <label class="control-label col-md-5" for="soldOut-{{uniqueId}}">Delivered Quantity</label>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{otherStock.soldOut}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-7]="!isViewOnly">
                    <input autofocus type="number" min="0" oninput="validity.valid||(value=value.replace(/\D+/g, ''))"
                           attr.id="soldOut-{{uniqueId}}" id="soldOut" name="soldOut" placeholder="Enter Sold Out"
                           class="form-control" [(ngModel)]="otherStock.soldOut" #soldOut="ngModel" />
                </div>
                <br />   <br />   <br />
                <label class="control-label col-md-5" for="receivedBy-{{uniqueId}}">Received By</label>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{otherStock.receivedBy}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-7]="!isViewOnly">
                    <textarea autofocus type="text" attr.id="receivedBy-{{uniqueId}}" id="receivedBy" name="receivedBy" placeholder="Enter Received By"
                              class="form-control" [(ngModel)]="otherStock.receivedBy" #receivedBy="ngModel"></textarea>
                </div>
                <br />   <br />   <br />
                <label class="control-label col-md-5" for="contactNo-{{uniqueId}}">Contact No</label>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{otherStock.contactNo}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-7]="!isViewOnly">
                    <input autofocus type="number" attr.id="contactNo-{{uniqueId}}" id="contactNo" name="contactNo" placeholder="Enter Contact No"
                           class="form-control" [(ngModel)]="otherStock.contactNo" #contactNo="ngModel">
                </div>
                <br />   <br />   <br />
                <label class="control-label col-md-5" for="distributedBy-{{uniqueId}}">Distributed By</label>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{otherStock.distributedBy}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-7]="!isViewOnly">
                    <textarea autofocus type="text" attr.id="distributedBy-{{uniqueId}}" id="distributedBy" name="distributedBy" placeholder="Enter Distribute By"
                              class="form-control" [(ngModel)]="otherStock.distributedBy" #distributedBy="ngModel"></textarea>
                </div>
                <br />   <br />   <br />
                <label class="control-label col-md-5" for="remarks-{{uniqueId}}">{{'otherstock.management.Remarks' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{otherStock.remarks}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-7]="!isViewOnly">
                    <textarea autofocus type="text" attr.id="remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Enter Remarks"
                              class="form-control" [(ngModel)]="otherStock.remarks" #remarks="ngModel"></textarea>
                </div>
                <br />
            </div>



            <div class="col-sm-6">
                <div class="row control-box">
                    <div class="col-sm-12">
                        <div class="form-group search-box">
                            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'otherstock.management.Search' | translate}}">></search-box>
                        </div>
                    </div>
                </div>
                <div>
                    <ngx-datatable class="material colored-


                                   er sm table table-striped table-hover" style="height:400px;"
                                   [loadingIndicator]="loadingIndicator"
                                   [rows]="rowsInventoryAdd"
                                   [rowHeight]="35"
                                   [headerHeight]="35"
                                   [footerHeight]="35"
                                   [columns]="columns"
                                   [scrollbarV]="true"
                                   [scrollbarH]="true"
                                   [columnMode]="'force'">
                    </ngx-datatable>
                    <ng-template #indexTemplate let-value="value">

                        <strong>{{value}}</strong>

                    </ng-template>

                    <ng-template #primaryItemTemplate let-row="row" let-value="row" let-i="index">

                        <span>{{value.primaryItem}} &nbsp;{{value.secondaryItem}}&nbsp;{{value.tertiaryItem}}</span>

                    </ng-template>

                    <ng-template #totalNumberTemplate let-row="row" let-value="row" let-i="index">

                        <span>{{value.totalNumber}}</span>

                    </ng-template>
                    <ng-template #remainingTemplate let-row="row" let-value="row" let-i="index">

                        <span>{{value.remainingNumber}}</span>

                    </ng-template>
                    <!--<ng-template #buyDateTemplate let-row="row" let-value="row" let-i="index">
                 <span>{{value.buyDate | date }}</span>
                </ng-template>-->
                    

                    <ng-template #actionsTemplate let-row="row" let-value="row" let-i="index">
                        <div *ngIf="canManageUsers">
                            <a class="btn btn-link btn-xs" href="javascript:;" (click)="otherStockEdit.inventoryAddId = row.id;
                               otherStockEdit.primaryItem = row.primaryItem;otherStockEdit.secondaryItem = row.secondaryItem;
                               otherStockEdit.tertiaryItem = row.tertiaryItem;otherStockEdit.detailItem = row.detailItem;
                               otherStockEdit.remainingNumber = row.remainingNumber;loadInventoryAddData()">
                                <i class="fa fa-spin" aria-hidden="true"></i>{{'configuration.management.Select' | translate}}
                            </a>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>



        <!---SAVE,CALCEL BUTTON----->
        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </form>
    <!--<otherstock-list #stockListEditor></otherstock-list>-->
</div>

